# Database connection string for PostgreSQL
# get it from https://console.neon.tech
DATABASE_URL=""

# frontend URL and authentication secret 
BETTER_AUTH_SECRET="SO6T3hqeFgreTaYoWuAiaFW66HaKHdsY" # random string or https://jwtsecrets.com/#generator
BETTER_AUTH_URL="http://localhost:3000" # frontend URL

#  for OAuth with Google and GitHub, get these from their respective developer consoles
# https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
#  https://github.com/settings/developers
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# get it from https://aistudio.google.com
GOOGLE_GENERATIVE_AI_API_KEY=""

# ImageKit credentials get from https://imagekit.io
IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_BASE_URL=""

INNGEST_DEV=1 # Set to 1 for development mode